* {
  font-family: Roboto;
}

body {
    background-color: rgb(247, 244, 228);
}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(95, 85, 85);
}

.navbar img.logo {
  float: left;
  width: 35px;
  height: 30px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: orange;
    text-decoration: none;
    font-size: 20px;
}

.encabezado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/img/fondoblur2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.encabezado h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.encabezado img {
    height: 150px;
    width: 180px;
    margin-bottom: 80px;
}

.conocenos-container h2 {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.conocenos-container p {
    margin-left: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

.contacto-container {
    margin-top: 80px;
    height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    background-image: url(/assets/img/fondoform.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-control {
  width: 50%;
}

.contacto-container h2 {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
}

/*--------------------- INICIO ESTILO footer --------------------*/

section {
  width: 100%;
  display: inline-block;
  height: 10vh;
  text-align: center;
  font-size: 22px;
  font-weight: 70;
  text-decoration: underline;
}

.footer-distributed {
  background-color: rgb(95, 85, 85);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: orange;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-center {
  float: center;
  margin-top: 6px;
  margin-left: 600px;
}

.footer-distributed .footer-center ul {
  width: 300px;
  height: 5px;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-center a {
  text-decoration: none;
  background-color: rgb(95, 85, 85);
  border-radius: 2px;
  font-size: 14px;
  color: orange;
  text-align: left;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: rgb(95, 85, 85);
  border-radius: 2px;
  font-size: 20px;
  color: orange;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}


@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* FIN ESTILO FOOTER*/